<section class = "tarjeta2">
    {{#each imgs2}}
    <div class="tarjetacont2">
        <img src="{{url}}" alt="{{title}}">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
    </div>
    {{/each}}
    </section>
