    <div id = "contenedordeimg">
      
      <h2 style="text-align:center" style="border: 1px solid whitesmoke;">0801-2001-19207</h2>
    </div>
      <div id = "contenedordeimg">
      
        <img src="http://drive.google.com/uc?export=view&id=1sXuSTCua5__x-_cf2qaJlapLDGTVnJey" height = "250" width = "300" title = "Kevin Velasquez" style = "float: left" >
      
      <p>-Nacido y crecido en Tegucigalpa, Honduras un 13 de Octubre del 2001. 
        <br><br>
        -Desde Kinder a Septimo año estudio en la escuela "Summer Hill School" donde aprendio los fundamentos de la computacion y genero interes en perseguir esos estudios. 
        En Octavo año fue trasladado a la secundaria "International School of Tegucigalpa" donde participo en el equipo de robotica. Los acontecimientos que se destacan son participar en el 
        "Drone & Robot Challenge 2018" y participar en la iniciativa Lego de robotica.
        <br><br>
        -En el 2017 participo en una brigada medica como traductor e instrumentista.
        <br><br>
        -Actualmente esta cursando su 4to año en la carrera de Ingenieria en las Ciencias de la Computacion en la Universidad Catolica de Honduras.

      </p>
      </div>